---
import WorkCard from "../layouts/WorkCard.astro";
const projects = [
  {
    heading: "GyanDhan Website",
    imgSrc: "gyandhan-home.png",
    content:
      "Developed a dynamic and responsive website for Gyandhan, a leading company in education loans, showcasing their services and enhancing their online presence. The project utilized modern web development technologies, including Figma for design, Tailwind CSS for styling, JavaScript for interactivity, HTML for markup, CSS for styling, and Ruby on Rails.",
    href: "https://astro-gyandhan.vercel.app/",
    color: "green",
    tags: ["JavaScript", "Figma", "Tailwind CSS", "HTML", "Ruby on Rails"],
  },
  {
    heading: "Online parking Application",
    imgSrc: "online-parking.png",
    content:
      "An intuitive online parking app, crafted with React, Redux, and CSS, simplifying parking spot booking and management.",
    href: "https://online-parking.vercel.app/",
    color: "blue",
    tags: ["React JS", "Tailwind CSS", "HTML", "Redux JS"],
  },
  {
    heading: "Wordle Game Application",
    imgSrc: "wordle.png",
    content:
      "A classic Wordle word guessing game showcasing my React and CSS skills. Players can guess a randomly generated word within a limited number of attempts. The interface provides visual feedback, and the game is designed to be responsive with a visually appealing layout.",
    href: "https://wordle-lilac-zeta.vercel.app/",
    color: "gray",
    tags: ["React JS", "CSS", "HTML"],
  },
  {
    heading: "To do Web application",
    imgSrc: "todo-list.png",
    content:
      "Built a stylish and efficient to-do list using React, Tailwind CSS, and Material-UI, illustrating a knack for creating visually appealing and responsive web applications.",
    href: "https://tick-task-1.vercel.app/",
    color: "purple",
    tags: ["React JS", "Tailwind CSS", "Material UI"],
  },
  {
    heading: "Clay Website",
    imgSrc: "clay-clone.png",
    content:
      "A Vite-powered React website, styled with Tailwind CSS, that closely mimics the appearance and functionality of an existing site, offering a responsive and streamlined user experience.",
    href: "https://clay-clone.vercel.app/",
    color: "orange",
    tags: ["React JS(Vite)", "Tailwind CSS", "HTML"],
  },
  {
    heading: "Text Utility Application",
    imgSrc: "text-utility.png",
    content:
      "Simplify text tasks using a responsive React.js text utility application.",
    href: "https://shristi-gupta21.github.io/TextUtilityApp/",
    color: "indigo",
    tags: ["React JS", "CSS", "BootStrap", "HTML"],
  },
];
---

<section class="max-w-6xl pt-20 mx-auto">
  <h1 class="text-3xl md:text-6xl font-bold text-center">My Work</h1>
  <div
    class="py-12 grid md:grid-cols-2 gap-4 md:gap-9 max-w-6xl mx-auto px-4 xl:px-0"
  >
    {
      projects.map(({ heading, imgSrc, content, href, color, tags }) => (
        <WorkCard
          heading={heading}
          imgSrc={imgSrc}
          content={content}
          href={href}
          color={color}
          tags={tags}
        />
      ))
    }
  </div>
</section>
